{
	"extends": "eslint:recommended",
	"env": {
		"node": true,
		"mocha": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "next"
			}
		],
		"no-console": 0
	}
}